<?xml version="1.0"?>

<robot name="ur_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="robot_root">
  </link>

  <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro" />
  <xacro:ur_arm parent="robot_root" mass_divider="1" finger_mass_divider="1" ur_prefix="ur1">
     <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ur_arm>

  <xacro:ur_arm parent="robot_root" mass_divider="1" finger_mass_divider="1" ur_prefix="ur2">
     <origin xyz="1 0 0" rpy="0 0 0" />
  </xacro:ur_arm>

</robot>
